#body-color {
background-color: #A6988E;
}


.jumbotron {
    background-image: url("../../img/arromanches_commemoration_dday.jpg");
    /* background-color:green; */
    background-size: cover;
    background-repeat: no-repeat;
}

.fontawesome {
    font-size:25px;
    color:#000000;
}

#border {
    border: 2px solid #BF9064;

}
#fluid-color {
    background-color: #A6988E;
    margin-top: 100px;
    margin-bottom: 100px;
}